<head></head>
<body>
    <div class="contenido-banner">  
    </div>
    <div class="contenido-quienes-somos">
        <p>Viaj.Ar es una agencia de viajes fundada en el año 2022, que surgió desde la necesidad de contar con una agencia de confianza, que les permita a sus clientes irse de vacaciones verdaderamente a descansar y disfrutar, evitando el estres y la preocupacion que generan organizar un viaje. Ahi es donde Viaj.Ar llega para hacer la diferencia, contamos con los mejores profesionales en nuestro personal para lograr brindar un servicio de excelencia que nos identifica. En Viaj.Ar ofrecemos una amplia de gama de servicios turísticos y asesoramiento para su viaje nos encargamos de tus traslados, de tu hospedaje, de tus comidas y hasta de tu asistencia medica, llegamos para revolucionar el mercado y ofrecer una nueva forma de Viaj.Ar </p>
        <ul class="contenido-quienes-somos-lista">
            <li><p> Nuestro principal objetivo es proveer a nuestros clientes un amplio abanico de posibilidades a la hora de elegir su próximo viaje, brindando el mejor precio.</p></li>
            <li><p> La esmerada atencion, personalizando cada situacion en particular son el factor primordial junto a la seriedad y responsabilidad de quienes integramos.</p></li>
            <li><p> Nuestro permanente desarrollo tecnologico facilita la eleccion de los destinos, la rapida contratacion y las numerosas formas de pago, como la inmediata resolucion de hasta los mas pequeños detalles.</p></li>
            <li><p> Tenemos la vision de ser la empresa de turismo mas reconocida del pais por nuestros clientes.</p></li>
            <li><p> Logramos un grado de especialización en Destinos Especificos a fin de conseguir una atención diferencial y especializada en determinados nichos de mercado.</p></li>
        </ul>
    </div>
</body>